<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
        "urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <Movie>
            <content>
                <Text_Field>I’m a text field</Text_Field>
                <yes_no>1</yes_no>
                <select_show>1</select_show>
            </content>
        </Movie>
    </default>
</config>