<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation=
        "urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="0">
            <label>Magenest</label>
        </tab>
        <section id="config_mv" translate="label" type="text"
                 sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Movie</label>
            <tab>magenest</tab>
            <resource>Magenest_Movie::config_movie</resource>
            <group id="content" translate="label" type="text"
                   sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Movie Setting</label>
                <field id="text_field" translate="label"
                       type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Text Field</label>
                </field>
                <field id="yes_no" translate="label"
                       type="select" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label><![CDATA[Yes/No_Field_<span style="color: red;">abcd</span>]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="select_show" translate="label" type="select"
                       sortOrder="3" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Custom Select Field</label>
                    <source_model>Magenest\Movie\Model\Config\Source\Relation</source_model>
                </field>
                <field id="row_in_movie" translate="label"
                       type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Rows in table “magenest_movie”</label>
                    <backend_model>Magenest\Movie\Model\Config\Backend\ConfigRowMovie</backend_model>
                    <frontend_model>Magenest\Movie\Block\Adminhtml\Form\Field\Disable</frontend_model>
                </field>
                <field id="row_in_actor" translate="label"
                       type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Rows in table “magenest_actor”</label>

                    <backend_model>Magenest\Movie\Model\Config\Backend\ConfigRowActor</backend_model>
                    <frontend_model>Magenest\Movie\Block\Adminhtml\Form\Field\Disable</frontend_model>
                    <depends>
                        <field id="select_show">1</field>
                    </depends>
                </field>
                <field id="btn_reload" translate="label comment" type="button" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Button Field</label>
                    <frontend_model>Magenest\Movie\Block\Adminhtml\Form\Button\Direct</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>